.ion-button {
  display: inline-block;

  width: auto;

  color: var(--color);

  /* font-family:  */

  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;

  white-space: nowrap;

  user-select: none;
  vertical-align: top;
  vertical-align: -webkit-baseline-middle;

  font-kerning: none;
}

.ion-button--disabled {
  cursor: default;
  opacity: 0.5;
  pointer-events: none;
}

.ion-button.ion-button--ios {
}

.ion-button.ion-button--md {
}
